@import url('https://fonts.googleapis.com/css?family=Teko:400,600');
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #322D2A;
    color: #322D2A;
	font-family: arial;
    overflow: hidden;
    // Turn on when done with project
}

/* Grid */
.container {
	display: grid;
	grid-template-columns: 25% 25% 20% 30%;
	grid-template-rows: 100%;
	grid-gap: 10px;
}

.section {
	height: 100vh;
	width: auto;
	background: limegreen;
}

// Section 1
.section-1 {
	background: #F0EDE8;
	display: flex;
	justify-content: center;
    align-items: center;
}

h1 {
	// place-self: center;
	transform: rotate(270deg);
	text-transform: uppercase;
	font-family: teko, arial;
	font-size: 220px;
    font-weight: 400;
    letter-spacing: 25px;
    margin-bottom: 50px;
}

// Section 2
.section-2 {
    background: #F0EDE8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#logo {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// Section 3
.section-3 {
    background: #F0EDE8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-3 img {
    width: 90px;
    height: 261px;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section-3 div {
    display: flex;
    flex-direction: column;
}

hr {
    border: 2px solid #322D2A;
    background: #322D2A;
    width: 700px;
    margin-top: 190px;
    margin-left: -130px;
    transform: rotate(90deg);

}

.section-3 div p {
    font-weight: bold;
    font-size: 38px;
    width: 550px;
    margin-top: -350px;
    margin-left: 7px;
    transform: rotate(270deg);
}

// Section 4
.section-4 {
    background: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-1 p:nth-child(1) {
    font-weight: bold;
    font-size: 26px;
    font-family: Oswald, arial;
    text-transform: uppercase;
    margin-left: 70%;
    margin-top: 50px;
    letter-spacing: 3px;
}


.box-1 p:nth-child(2) {
    font-family: Oswald, arial;
    margin-left: 70%;
    font-size: 46px;
    margin-top: -13px;
}

.box-2 {
    background: pink;
}

.box-2 hr {
    transform: rotate(0deg);
    width: 300px;
}

.box-2 h3 {
    text-align: center;
    text-transform: uppercase;
}
