@import url('https://fonts.googleapis.com/css?family=Teko:400,600');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #F0EDE8;
	font-family: arial;
}

/* Grid */
.container {
	display: grid;
	grid-template-columns: 25% 25% auto 35%;
	grid-template-rows: 100%;
	grid-gap: 10px;
}

.section {
	height: 100vh;
	width: auto;
	background: limegreen;
}

.section-1 {
	background: pink;
	display: flex;
	justify-content: center;
    align-items: center;
}

h1 {
	place-self: center;
	transform: rotate(270deg);
	text-transform: uppercase;
	font-family: teko, arial;
	font-size: 220px;
    font-weight: 400;
    color: #322D2A;
    letter-spacing: 25px;
    margin-bottom: 50px;
}
