@import url('https://fonts.googleapis.com/css?family=Teko:500,600');

/* Global */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #F0EDE8;
}

/* Main Flex Container */
.main-flex-container {
    display: flex;
    // justify-content: space-between;
    // align-items: stretch;

}

/* Sibling */
#sibling {
    font-family: Teko, arial;
    font-size: 82px;
    color: #322D2A;
    text-transform: uppercase;
    letter-spacing: 15px;
    transform: rotate(270deg);
    border-bottom: 10px solid #322D2A;
    background: pink;
    padding-top: 200px;
    padding-right: 200px;
    padding-bottom: 0 !important;
    margin-top: 500px;
}

#images {
    display: flex;
    flex-direction: column;
}

#logo {
    height: 100%;
    width: 100%;
}

.vertical-text {
    transform: rotate(270deg);
    font-family: arial;
    font-weight: bold;
    font-size: 26px;
}

.sections {
    grid-area: sections;
}
